<% if defined? @gossip %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Nous avons réussi à créer le potin </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
<% end %>


<p>Voici tous les potins :</p>
<ul>
    <% Gossip.all.each do |gossip|%>
        <li><%="#{gossip.user.name} : #{gossip.title}"%> <a href="/gossips/<%=gossip.id%>"><i class="fas fa-external-link-alt"></i></a></li>
    <%end%>
</ul>

<p>Voulez créer un nouveau potin ? <a href="/gossips/new"><i class="fas fa-external-link-alt"></i><</a> </p>
